<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the Application</h1>
	<h2>Relationship navigation version </h2>

	<form action="CheckLogin" method="POST">
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="login">
		<p th:text=" ${errorMsg}"></p>
	</form>
	
	<form action="SignIn" method="POST">
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="pwd" required><br>
		Mail: <input type = "text" name="mail" required> <br>
		<input type="submit" value="signin">
		<p th:text=" ${errorMsg}"></p>
	</form>
</body>
</html>