<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the Application</h1>
	<h2>Relationship navigation version </h2>

	<form action="CheckLogin" method="POST">
	<table>
	<tr><th>
		Username:</th> <th><input type="text" name="username" required> </th>
		<tr><th>Password:</th><th> <input type="password" name="pwd" required></th>
		<tr><th><input type="submit" value="login"></th><tr>
		<tr><th><p th:text=" ${errorMsg}"></p></th></tr>
		</table>
	</form>
	
	<form action="SignIn" method="POST">
	<table>
	<tr><th>
		Username:</th> <th><input type="text" name="username" required> </th>
		<tr><th>Password:</th><th> <input type="password" name="pwd" required></th>
		<tr><th>Mail:</th><th><input type = "text" name="mail" required> </th>
		<tr><th><input type="submit" value="signin"></th><tr>
		<tr><th><p th:text=" ${errorMsg}"></p></th></tr>
		</table>
	</form>
	
	
	<form action="CheckLoginAdmin" method="POST">
	<table>
	<tr><th>
		Username:</th> <th><input type="text" name="username" required> </th>
		<tr><th>Password:</th><th> <input type="password" name="pwd" required></th>
		<tr><th><input type="submit" value="loginAdmin"></th><tr>
		<tr><th><p th:text=" ${errorMsg}"></p></th></tr>
		</table>
	</form>
	
	<form action="SignInAdmin" method="POST">
	<table>
	<tr><th>
		Username:</th> <th><input type="text" name="username" required> </th>
		<tr><th>Password:</th><th> <input type="password" name="pwd" required></th>
		<tr><th>Mail:</th><th><input type = "text" name="mail" required> </th>
		<tr><th><input type="submit" value="signinAdmin"></th><tr>
		<tr><th><p th:text=" ${errorMsg}"></p></th></tr>
		</table>
	</form>
</body>
</html>