<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>App Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>


	<h1>Welcome to the Home Page</h1>
	<div th:if="${questionnaire!=null }">
		<form action="GoToQuestionnaire" method="get">
			<span th:text="'Product ' + ${questionnaire.product}"> </span> 
			<span th:text="'Image' + ${questionnaire.img}"></span> 	
			<img width="100px" alt="thumb"
				th:src="*{'data:image/png;base64,'+ questionnaire.getImg()}"> 
	
			<input type="hidden" name="productId" th:value="${questionnaire.id}">
			<input type="submit" value="go to questionnaire">
		</form>
	</div>
	
	
</body>
</html>