<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inspection</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>


	<h1>Inspection</h1>

	<section>	
	
		<div th:if="${#lists.isEmpty(subUsers)}">
			<span> No users has submitted</span>
		</div>
		<div th:if="${#lists.isEmpty(subUsers)}">
			<span> List of users who submitted</span>		
			<table>
				<thead>
					<tr>
						<th>User</th>
						<th>Answer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${subUsers}">
						<td th:text="${u.username}"></td>
						<td><a th:href="@{/GoToUserAnswers(userid=${u.id})}">Answer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
		
	<section>
	
		<div th:if="${#lists.isEmpty(cancUsers)}">
			<span> No users has cancelled</span>
		</div>
		
		<div th:if="${not #lists.isEmpty(cancUsers)}">
		<span> List of user who cancelled</span>
			<table>
				<thead>
					<tr>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${cancUsers}">
						<td th:text="${u.username}"></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</section>
	
	<div th:if="${#lists.isEmpty(reviews)}">
			<span> There are no reviews for this questionnaire</span>
	</div>
	
	<div th:if="${not #lists.isEmpty(reviews)}">	
		<table >
			<thead>
				<tr><th>User</th><th>Age</th><th>Sex</th><th>Level</th></tr>
			</thead>
			<tbody>
				<tr th:each="r : ${reviews}">
					<td th:text="${r.user.id }"></td>
					<td th:text="${r.age }"></td>
					<td th:text="${r.sex }"></td>
					<td th:text="${r.level }"></td>
					<td th:each="a: ${r.answers }" >
					  <span th:text="${a.question.text}" ></span> >>
					  <span th:text="${a.text}" ></span>  
					
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>	
		

	

</body>
</html>