<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inspection</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>


	<h1>Leaderboard Page</h1>

	<section>	
	
		<div th:if="${#lists.isEmpty(subUsers)}">
			<span> No users has submitted</span>
		</div>
		<div th:if="${#lists.isEmpty(subUsers)}">
			<span> List of users who submitted</span>
		</div>
		<table>
		<thead>
			<tr>
				<th>User</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="u : ${subUsers}">
				<td th:text="${u.username}"></td>
				<td th:text="${u.points}"></td>
			</tr>
		</tbody>
		</table>
	</section>
	
	


</body>
</html>